In [1]:
import pandas as pd

In [7]:
pd.DataFrame({"Yes":[30,21] , "No":[131,2]})

   Yes   No
0   30  131
1   21    2

In [9]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
pd.Series([1,2,3,4,5] ,index=["A" , "B", "C" , "D" , "E"])

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [16]:
df=pd

NameError: name 'titanic' is not defined