# Gözlem ve Değişken Seçimi
__Loc ve iloc__

In [1]:
import numpy as np
import pandas as pd

In [2]:
m=np.random.randint(1,30, size=(10,3))
df= pd.DataFrame(m ,columns = [ "var1" , "var2" , "var3"])

In [3]:
df

   var1  var2  var3
0     8    20    15
1    24     8     9
2    28    18    26
3    10    24    11
4    24    13     8
5    17    16    11
6     2    16    24
7     8     6    21
8     7    20    24
9    14    27     9

In [4]:
df.loc[0:3] # loc ile 3 de dahil

   var1  var2  var3
0     8    20    15
1    24     8     9
2    28    18    26
3    10    24    11

In [5]:
df.iloc[0:3]

   var1  var2  var3
0     8    20    15
1    24     8     9
2    28    18    26

In [8]:
df.loc[0:3 , "var2"] #iloc ile çalışmayacaktı

0    20
1     8
2    18
3    24
Name: var2, dtype: int32