# Koşullu Eleman İşlemleri

In [4]:
import numpy as np
import pandas as pd

In [8]:
m=np.random.randint(1,30, size=(10,3))
df= pd.DataFrame(m ,columns = [ "var1" , "var2" , "var3"])

In [9]:
df

   var1  var2  var3
0     8     6    20
1    17    17    27
2    15    10     8
3     6     7    14
4    10    28    25
5    14    11     9
6    23    24    12
7    10     6     9
8    24     8    26
9    29     3    27

In [10]:
df["var2"]

0     6
1    17
2    10
3     7
4    28
5    11
6    24
7     6
8     8
9     3
Name: var2, dtype: int32

In [13]:
df[0:2]["var1"]

0     8
1    17
Name: var1, dtype: int32

In [14]:
df.loc[0:2]["var1"]

0     8
1    17
2    15
Name: var1, dtype: int32

In [17]:
fancy=["var1" , "var3"]
df[0:2][fancy] #df[0:2]["var1" , "var3"]

   var1  var3
0     8    20
1    17    27

In [22]:
df[df.var1>15]

   var1  var2  var3
1    17    17    27
6    23    24    12
8    24     8    26
9    29     3    27

In [24]:
df[(df.var1>15) & (df.var3 <15) ]

   var1  var2  var3
6    23    24    12

In [27]:
df[(df.var1>15)["var1" , "var2"]  ]

KeyError: 'key of type tuple not found and not a MultiIndex'