# Pandas DataFrame oluşturma

In [1]:
# excel yapısına benzer

In [2]:
import pandas as pd
l=[1,2,39,67,90]
l

[1, 2, 39, 67, 90]

In [4]:
pd.DataFrame(l, columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [6]:
import numpy as np
m=np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
pd.DataFrame(m, columns = ["var1" , "var2" , "var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

__df isimlendirme__

In [10]:
df=pd.DataFrame(m, columns = ["var1" , "var2" , "var3"])
df

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [12]:
df.columns= ("deg1" , "deg2" , "deg3")
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [16]:
df.shape #boyut sorgulaması

(3, 3)

In [17]:
df.ndim #boyut

2

In [18]:
df.size #eleman sayısı

9

In [20]:
df.values #değerlere erişimek istendiğinde

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [21]:
df.head() #baştan erişme

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [22]:
df.tail(2) #sondan erişme

   deg1  deg2  deg3
1     4     5     6
2     7     8     9

In [23]:
a=np.array([1,2,3,4,5])

In [25]:
pd.DataFrame(a, columns=["degisken1"])

   degisken1
0          1
1          2
2          3
3          4
4          5