In [8]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pan.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    17    22     4
1    19    14    10
2    15    18     9
3    18     7    22
4    23     3    15
5    17    19    14
6     1    14    10
7     2     1     8
8    15    29     3
9     7    25    17

In [3]:
df.var1

0    17
1     8
2    15
3    25
4    20
5    23
6    20
7    14
8    28
9    17
Name: var1, dtype: int32

In [5]:
df["var1"]

0    17
1     8
2    15
3    25
4    20
5    23
6    20
7    14
8    28
9    17
Name: var1, dtype: int32

In [6]:
df2["calis": ["ali" , "veli"] ,
   maas]

NameError: name 'df2' is not defined

In [11]:
a=pd.DataFrame(numbers)
numbers.dtype

NameError: name 'numbers' is not defined