## baskılama yöntemi

In [1]:
import seaborn as sns
import pandas as pd

df=sns.load_dataset("diamonds")
df=df.select_dtypes(include=["float64", "int64"])
df=df.dropna()
df.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [5]:
Q1 = df_table.quantile(0.25)
Q3 = df_table.quantile(0.75)
IQR=Q3-Q1

In [6]:
alt_sinir=Q1 - 1.5-IQR
ust_sinir=Q3+ 1.5*IQR

In [4]:
df_table=df["table"]

In [11]:
aykiri_alt =(df_table < alt_sinir)

In [12]:
df_table[aykiri_alt]

1515     51.0
3238     50.1
3979     51.0
4150     51.0
5979     49.0
7418     50.0
8853     51.0
11368    43.0
22701    49.0
25179    50.0
26387    51.0
33586    51.0
35633    44.0
45798    51.0
46040    51.0
47630    51.0
Name: table, dtype: float64

In [13]:
df_table[aykiri_alt]=alt_sinir

C:\Users\acer\AppData\Local\Temp\ipykernel_2832\1338438251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_table[aykiri_alt]=alt_sinir

aykırı değerler alt sınıra eşitlenerek baskılanmış oldu. iki taraftan sıkıştırma olarak düşünülebilir

In [14]:
df_table[aykiri_alt]

1515     51.5
3238     51.5
3979     51.5
4150     51.5
5979     51.5
7418     51.5
8853     51.5
11368    51.5
22701    51.5
25179    51.5
26387    51.5
33586    51.5
35633    51.5
45798    51.5
46040    51.5
47630    51.5
Name: table, dtype: float64